body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: purple;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0, 08);
  border-radius: 16px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}
.search-form-button {
  background: #7c53ee;
  padding: 10px 15px;
  border-radius: 6px;
  border-color: #7c53ee;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.weather-app-city {
  font-size: 38px;
  margin: auto;
  line-height: 48px;
}
.weather-app-detail {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0, 4);
}
.weather-app-detail strong {
  color: #f65282;
  line-height: 24px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature-value {
  font-size: 70px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}
.weather-app-unit {
  margin-top: 10px;
  font-size: 28px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-app-icon {
  width: 88px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 14px;
}
.weather-forecast-day {
  display: inline-block;
  margin: 0 auto;
}

.weather-forecast-icon img {
  display: inline-block;
}

footer {
  border-top: 1 px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
